* {
    box-sizing: border-box;
}

.note-form {
    /* background: #fff; */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 100%;
    /* border: 5px solid blue; */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #cdc9c9;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: black;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .note-form {
        padding: 15px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
    }

    .submit-button {
        font-size: 14px;
        padding: 8px 12px;
    }
}